.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* Шапка */
.header {
  margin-top: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h1 {
  margin: 0;
}

.header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.header nav a:hover {
  text-decoration: underline;
}

.promotion-card {
  display: flex;
}

.image-wrapper {
  width: 50%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}


.content {
  padding: 16px;
  width: 50%;
}

.content h2 {
  margin: 0 0 10px 0;
  font-size: 22px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.price-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #e53935;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.discount {
  background-color: #c8e6c9;
  color: #2e7d32;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.buy-now {
  flex: 1;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.buy-now:hover {
  background-color: #d32f2f;
}

.add-cart {
  flex: 1;
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-cart:hover {
  background-color: #eee;
}

.end-date {
  font-size: 12px;
  color: #777;
}

.reviews {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.review {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}








/* From Uiverse.io by mrhyddenn */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box {
  width: 700px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
}

.card_box:hover {
  transform: scale(0.9);
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Premium';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}
