<div class="page">

  <!-- Шапка -->
  <header class="header">
    <h1>Косметический магазин</h1>
    <nav>
      <a href="#">Главная</a>
    </nav>
  </header>

  <div class="container">
    <div class="card_box">
      <span></span>
      <section class="promotion-card">
        <div class="image-wrapper">
          <img [src]="promotion.imageUrl" [alt]="promotion.title"/>
        </div>
        <div class="content">
          <h2>{{ promotion.title }}</h2>
          <p class="description">{{ promotion.description }}</p>
          <div class="buttons">
            <button class="buy-now">Купить сейчас</button>
            <button class="add-cart">В корзину</button>
          </div>

          <div class="end-date" *ngIf="promotion.endDate">
            Акция действует до {{ promotion.endDate }}
          </div>
        </div>
      </section>

    </div>

  </div>

  <section class="reviews">
    <h3>Отзывы покупателей</h3>
    <div *ngFor="let review of reviews" class="review">
      <strong>{{ review.author }}</strong>
      <span class="rating">⭐ {{ review.rating }}/5</span>
      <p>{{ review.comment }}</p>
    </div>
  </section>

</div>



