@if (images() && images().length > 0) {
  <div class="carousel-container" (touchstart)="onDragStart($event)" (touchend)="onDragEnd($event)">
    @for (image of images(); track image.id; let i = $index) {
      <div class="slide" [class.image-active]="selectedIndex() === i">
        <img [src]="image.imageUrl" [alt]="image.name" class="fade">
        <div class="slide-overlay">
          <h3 class="slide-title">
            {{ activeLang() === 'ro' ? image.nameRo : image.nameRu }}
          </h3>
          <button class="slide-cta" (click)="goToImage(image)">
            {{'seeAll'| transloco}}
          </button>
        </div>
      </div>
    }

    @if (indicators()) {
      <div class="carousel-dot-container">
        @for (dot of images(); track $index; let i = $index) {
          <span class="dot" [ngClass]="{ 'active': selectedIndex() === i }" (click)="selectImage(i)"></span>
        }
      </div>
    }

    @if (controls()) {
      <button class="btn-carousel btn-prev" (click)="onPrevClick()">
        <i class="ri-arrow-left-line icon-carousel icon-prev"></i>
      </button>
      <button class="btn-carousel btn-next" (click)="onNextClick()">
        <i class="ri-arrow-right-line icon-carousel icon-next"></i>
      </button>
    }
  </div>
}
