<div class="stories-header">
  <div class="profile">
    <img src="assets/SR-black.svg" alt="Secret room" class="avatar" />
    <div class="profile-info">
      <h2 class="name">secret_room.moldova</h2>
    </div>
  </div>

  <button class="subscribe-btn">
    <i class="ri-instagram-line"></i>
    Подписаться!
  </button>
</div>
<section class="instagram-section">
  <div class="stories-grid">
    @for (post of posts(); track post.id; let i = $index) {
      <button class="story-item" [class.viewed]="isViewed(post.id)" (click)="openViewer(i)">
        <div class="ring">
          <div class="avatar">
            <img [src]="getThumbnail(post)" />
          </div>
        </div>
      </button>
    }
  </div>
</section>

@if (isViewerOpen() && currentPost) {
  <div class="story-view">
    <div class="buttons-container next-button" (click)="next(); $event.stopPropagation()">
      <i class="ri-arrow-right-s-line"></i>
    </div>

    @if (currentIndex() > 0) {
      <div class="buttons-container prev-button" (click)="prev(); $event.stopPropagation()">
        <i class="ri-arrow-left-s-line"></i>
      </div>
    }

    <div class="close-button" (click)="closeViewer()">
      <i class="ri-close-line"></i>
    </div>

    <div class="stories-block">
      <div class="nav-overlay" (click)="next()"></div>

      <div class="media-content">
        @if (isVideo(currentPost)) {
          <video [src]="currentPost.mediaUrl"
                 autoplay
                 muted
                 playsinline
                 (ended)="next()"
                 [muted]="isMuted()"></video>
          <button class="mute-control" (click)="toggleMute($event)">
            @if (isMuted()) {
              <i class="ri-volume-mute-line"></i>
            } @else {
              <i class="ri-volume-up-line"></i>
            }
          </button>
        } @else {
          <img [src]="currentPost.mediaUrl" />
        }
      </div>
    </div>
  </div>
}
