/*
:host {
  display: block;
}
*/

custom-title {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.stories-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.product-list-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;

  .product-list-panel {
    width: 100%;
    max-width: 1200px;
  }
}




