.product-list-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 10rem 2rem;
}

.filters-panel {
  width: 250px;
  flex-shrink: 0;
  border-right: 1px solid #eee;
  padding-right: 1rem;
}

.product-list-panel {
  flex: 1;
}

/*
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 150px 0 20px;
}

.title h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
*/
