custom-title {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.stories-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.product-list-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .product-list-panel {
    width: 100%;
    max-width: 1200px;
    overflow: visible;
  }
}



.product-section {
  position: relative;
}
