<!--<div class="modal-backdrop" (click)="onClose()"></div>

<div class="modal" role="dialog" aria-modal="true" aria-labelledby="modalTitle" (click)="$event.stopPropagation()">
  <button class="close-button" aria-label="Закрыть" (click)="onClose()">×</button>

  <h2 id="modalTitle">Сброс пароля</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Введите ваш email"
      [class.invalid]="form.controls['email'].invalid && form.controls['email'].touched"
      autocomplete="email"
      required
    />
    @if (form.controls['email'].invalid && form.controls['email'].touched) {
      <div class="error">Пожалуйста, введите корректный email.</div>
    }


    <button type="submit" [disabled]="form.invalid || submitting">
      {{ submitting ? 'Отправка...' : 'Отправить ссылку' }}
    </button>
  </form>

  @if (successMessage) {
    <p class="success">{{ successMessage }}</p>
  }
</div>-->


<p-dialog
  header="Простая модалка"
  [(visible)]="isVisible"
  modal="true"
  [closable]="true"
  [style]="{width: '400px'}"
>
  <p>Содержимое модалки. Можно вставить текст, формы или картинки.</p>
  <p-footer>
    <p-button label="Закрыть" icon="pi pi-times" (click)="onClose()"></p-button>
  </p-footer>
</p-dialog>
