<header class="header">
  <div class="header-top">
    <div class="header-top-inner">
      <nav class="nav-left">
        <a class="nav-item nav-item--luxury" [routerLink]="['/', activeLang(), 'contacts']">
          <i class="ri-map-pin-line"></i>
          <span>{{'Stores' | transloco}}</span>
        </a>
        <a class="nav-item nav-item--luxury" [routerLink]="['/', activeLang(), 'about-the-secret-room']">
          <i class="ri-instagram-line"></i>
          <span>{{'Instagram' | transloco}}</span>
        </a>
      </nav>
      <div class="logo-scroll-wrapper" [class.visible]="isHidden">
        <ng-container *ngTemplateOutlet="logo"/>
      </div>
      <div class="nav-right">
        <div class="icons">
          <a class="icon fav-icon" [routerLink]="['/', activeLang(), 'favorites']">
            <i class="ri-heart-line"></i>
            @if (favoritesService.count() > 0) {
              <span class="fav-badge">{{ favoritesService.count() }}</span>
            }
          </a>
          <a class="icon">
            <i [routerLink]="['/', activeLang(), 'cabinet']" class="ri-user-line"></i>
          </a>
          <a class="icon cart-icon" (click)="openCart()">
            <i class="ri-shopping-bag-line"></i>
            @if (cartCount() > 0) {
              <span class="cart-badge">{{ cartCount() }}</span>
            }
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-medium" [class.hidden]="isHidden" [ngStyle]="{'padding': isMinBrands() ? '10px 420px' : '10px 150px'}">

    <div class="logo-search-row">
      <div class="row-left">
        <div class="lang-switch">
          @for (lang of languages; track lang) {
            <div class="lang-option" [class.active]="activeLang() === lang" (click)="setActiveLang(lang)">
              {{ lang | uppercase }}
            </div>
          }
        </div>
      </div>

      <ng-container *ngTemplateOutlet="logo"/>

      <div class="row-right">
        <div class="search-bar">
          <input
            type="text"
            maxlength="60"
            (input)="onSearchInput($event)"
            (keyup.enter)="onSearch()"
            [(ngModel)]="query"
            [placeholder]="'Search' | transloco"
            aria-label="Поиск по продуктам"
          />
          <i class="ri-search-line" aria-hidden="true"></i>
          @if (searchService.showDropdown()) {
            <search-dropdown (closed)="closeSearchDropdown()"/>
          }
        </div>
      </div>
    </div>

    <div class="brands-row">
      <nav class="nav-left">
        @for (brand of brands(); track brand) {
          <a class="nav-medium-item" [class.active]="activeBrand()=== brand" (click)="goToBrandList(brand)">
            {{ brand.brandAlias }}
          </a>
        }
      </nav>
    </div>
  </div>

  @if (!isCheckoutPage()) {
    <nav class="nav-main"  (mouseenter)="navHovered.set(true)" (mouseleave)="closeDropdown()">
      <div class="nav-inner">
        <a class="category-text" [routerLink]="['/', activeLang(), 'catalog', 'new-arrivals']">
          {{ 'NewArrivals' | transloco }}
        </a>
        <a class="category-text" [routerLink]="['/', activeLang(), 'catalog', 'bestsellers']">
          {{ 'BestSellers' | transloco }}
        </a>

        @if (headerItems()) {
          @for (category of headerItems(); track category.id) {
            <a class="category-text"
               [class.active]="activeCategory()?.id === category.id"
               (mouseenter)="showDropdown(category)"
               (click)="goToCategory(category)">
              {{ category.name }}
            </a>
          }
        }

        <a class="category-text sale-link" [routerLink]="['/', activeLang(), 'catalog', 'sales']">
          {{ 'Sale' | transloco }}
        </a>
      </div>

      @if (headerItems()?.length) {
        <div class="mega-dropdown" [class.visible]="activeCategory()">
          <div class="mega-dropdown__inner">
            <h3 class="mega-dropdown__title">{{ activeCategory()?.name  }}</h3>

            <div class="mega-dropdown__list">
              @for (sub of activeCategory()?.children!; track sub.id; let i = $index) {
                <a class="mega-dropdown__item"
                   [style.animation-delay]="i * 0.05 + 's'"
                   [routerLink]="['/', activeLang(), 'catalog', slugify.transform(sub.name) || sub.id]"
                   (click)="closeDropdown()">
                  {{ sub?.name }}
                </a>
              }
            </div>

            <a class="mega-dropdown__all" (click)="goToCategory(activeCategory()!)">
              {{ 'ViewAll' | transloco }}
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      }
    </nav>
  }
</header>

<ng-template #logo><a [routerLink]="['/', activeLang()]" class="logo">Secret Room</a></ng-template>
