<header class="header">
  <div class="header-top">
    <nav class="nav-left">
      <a class="nav-item">Our Story</a>
      <a class="nav-item">Our Standards</a>
      <a class="nav-item" [routerLink]="['/', activeLang(), 'contacts']">Our Stores & Services</a>
    </nav>
    <a [routerLink]="['/', activeLang()]" class="logo">
      <img src="assets/secret-room-logo.svg" alt="logo">
    </a>
    <div class="nav-right">
      <div class="lang-switcher">
        @for (lang of languages; track lang) {
          <button (click)="setActiveLang(lang)" [class.active]="lang === activeLang()">
            {{ lang.toUpperCase() }}
          </button>
        }
      </div>
      <div class="icons">
        <a class="icon">
          <i [routerLink]="['/', activeLang(), 'wishlist']" class="ri-heart-line"></i>
        </a>
        <a class="icon">
          <i [routerLink]="['/', activeLang(), 'profile']" class="ri-user-line"></i>
        </a>
        <a class="icon" (click)="openCart()">
          <i class="ri-shopping-bag-line"></i>
        </a>
      </div>
    </div>
  </div>
  <nav class="nav-main">
    @for (item of Object.keys(dropdownContent); track item) {
      <a class="nav-item"
        (mouseenter)="showDropdown(item)"
        (mouseleave)="hideDropdown()"
      >
        {{ item }}
      </a>
    }

    @if (activeMenu && dropdownContent[activeMenu]) {
      <div class="dropdown"
           (mouseenter)="showDropdown(activeMenu)"
           (mouseleave)="hideDropdown()">
        <div class="dropdown-content">
          <div class="dropdown-section">
            <h4>{{ dropdownContent[activeMenu].title }}</h4>
            <p>{{ dropdownContent[activeMenu].description }}</p>
          </div>
          <div class="dropdown-section">
            <h4>SHOP BY</h4>
            @for (cat of dropdownContent[activeMenu].categories; track $index) {
              <a class="dropdown-item">{{ cat }}</a>
            }
          </div>
          <div class="dropdown-section">
            <h4>HELP</h4>
            <a class="dropdown-item">Contact Us</a>
            <a class="dropdown-item">FAQ</a>
          </div>
          <div class="dropdown-section">
            <h4>ABOUT US</h4>
            <a class="dropdown-item">Our Story</a>
            <a class="dropdown-item">Careers</a>
          </div>
          <div class="dropdown-section">
            <img [src]="dropdownContent[activeMenu].image" alt="Logo">
          </div>

        </div>
      </div>
    }

    <a class="nav-item" [routerLink]="['/', activeLang(), 'vs']" >VICTORIA`S SECRET</a>
    <a class="nav-item">Bath & Body Works</a>

    <div class="search-bar">
      <input type="text"
             maxlength="60"
             [placeholder]="'Search'| transloco"
             aria-label="Поиск по продуктам">
      <i class="ri-search-line" aria-hidden="true"></i>
    </div>
    @if (activeMenu && dropdownContent[activeMenu]) {
      <div class="dropdown" (mouseleave)="hideDropdown()">
        <div class="dropdown-content">

          <div class="dropdown-section">
            <h4>{{ dropdownContent[activeMenu].title }}</h4>
            <p>{{ dropdownContent[activeMenu].description }}</p>
          </div>

          <div class="dropdown-section">
            <h4>SHOP BY</h4>
            @for (cat of dropdownContent[activeMenu].categories; track $index) {
              <a class="dropdown-item">{{ cat }}</a>
            }
          </div>

          <div class="dropdown-section">
            <h4>HELP</h4>
            <a class="dropdown-item">Contact Us</a>
            <a class="dropdown-item">FAQ</a>
          </div>

          <div class="dropdown-section">
            <h4>ABOUT US</h4>
            <a class="dropdown-item">Our Story</a>
            <a class="dropdown-item">Careers</a>
          </div>
        </div>
      </div>
    }
  </nav>
</header>


