/*


.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
  );
}




.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px;
  width: 80%;
}

*/



/*.wheel-container {
  !*
  position: relative;
  *!
  width: 300px;
  height: 300px;
  margin: 50px auto;
  text-align: center;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #444;
  position: relative;
  transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
}*/

/*
.segment {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  background: conic-gradient(
      #f8b400 0 50%,
      #ff6363 0 100%
  ); !* пополам разными цветами *!
  border: 1px solid #fff;
}

.segment span {
  position: absolute;
  left: 20px;
  top: -40px;
  transform: rotate(-60deg);
  transform-origin: center center;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.pointer {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #444;
}

.spin-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #f8b400;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.spin-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.result {
  margin-top: 15px;
  font-size: 18px;
  color: green;
}
*/



.wheel-container {
  position: relative;
  width: 470px;
  height: 470px;
  margin: 140px auto;
  text-align: center;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #444;
  transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);

  /* круг делим на равные сегменты */
  background: conic-gradient(
      #f8b400 0 60deg,
      #ff6363 60deg 120deg,
      #f8b400 120deg 180deg,
      #ff6363 180deg 240deg,
      #f8b400 240deg 300deg,
      #ff6363 300deg 360deg
  );

  position: relative;
  overflow: hidden;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  transform-origin: 0 50%; /* вращение вокруг левого центра */
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  padding-left: 10px;
}



.pointer {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #444;
}

.spin-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #f8b400;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.spin-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.result {
  margin-top: 15px;
  font-size: 18px;
  color: green;
}
