<div class="reels-grid">
  <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DI6nzvKNBLh/?igsh=OTQxMGJjdGY1M28z" data-instgrm-version="14"></blockquote>
  <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DIHMv5WtLtQ/?igsh=MXRwc2FkN2VsbWVybw==/" data-instgrm-version="14"></blockquote>
  <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DIHSBMcNKnY/?igsh=MWY5ZG52NXlhYjU2MQ==" data-instgrm-version="14"></blockquote>
</div>
