<div class="product-card">
  <button class="wishlist">
    <i class="ri-heart-line"></i>
  </button>
  @if(imageUrl() != null){
    <img class="product-image cursor-pointer" [src]="imageUrl()" alt="{{ title() }}" (click)="navToProduct()"/>
  }
  @if (isBestSeller()){
    <div class="badge">Best Seller</div>
  }

  <div class="rating">
    @for (star of [].constructor(rating()) ; track star) {
      <span>&#9733;</span>
    }
  </div>

  <div class="brand">{{ brand() }}</div>
  <div class="price">{{ price() }} MDL</div>
  <div class="title">{{ title() }}</div>

  <button class="action-btn" (click)="addProductInCart()">
    {{ showOptions()   ? 'SHOW OPTIONS' : 'ADD TO CART' }}
  </button>
</div>


