.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
}

.paginator button {
  padding: 5px 10px;
  border: none;
  background: none;
  color: pink;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginator button.active {
  border-radius: 5px;
  background-color: pink;
  color: brown;
  border: none;
}

.paginator button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
