.product-page {
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.06);
  margin-top: 60px;
  padding: 150px;
  font-family: 'Didot', serif;
  color: #333;
  background: #fff;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-images {
  flex: 1 1 45%;
}


.product-images img {
  width: 100%;
  border-radius: 10px;
}

.main-image img {
  width: 100%;
  max-height: 550px;
  object-fit: contain; // или cover
  border-radius: 10px;
}

.thumbnails {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.thumbnails img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnails img:hover {
  border-color: #e86ea8;
}

.product-info {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-info h1 {
  font-size: 2rem;
  font-weight: bold;
}

.product-info .brand {
  color: #e86ea8;
  font-weight: 500;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  margin-top: 1rem;
  line-height: 1.5;
}

.color-picker {
  margin: 1rem 0;
  font-size: 0.95rem;
  color: #555;
}

.color-options {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

.color-circle:hover {
  transform: scale(1.1);
}

.color-circle.selected {
  border-color: #333;
}

.features {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  color: #555;
}

.features li {
  margin-bottom: 0.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-primary {
  background-color: #e86ea8;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #d15b95;
}

.btn-secondary {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-weight: 500;
}

.btn-secondary:hover {
  color: #e86ea8;
}

.product-tabs {
  margin-top: 3rem;
}

.tabs {
  display: flex;
  gap: 2rem;
  border-bottom: 2px solid #eee;
  margin-bottom: 1rem;
}

.tabs button {
  background: none;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}

.tabs button.active {
  color: #e86ea8;
  border-bottom: 2px solid #e86ea8;
}

.tab-content {
  color: #555;
  font-size: 0.95rem;
}
.related-products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.related-products h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}


