:host ::ng-deep .p-button {
  background: none;
  border: 1px solid var(--gold, #b8956c);
}
:host ::ng-deep .p-button:not(:disabled):hover {
  background: var(--gold, #b8956c);
  border: 1px solid var(--gold, #b8956c);
}

:host ::ng-deep .p-drawer {
  background: #faf8f5!important;
}
