:host ::ng-deep .p-button {
  background: none;
  border: 1px solid pink;
}
:host ::ng-deep .p-button:not(:disabled):hover {
  background: pink;
  border: 1px solid pink;
}

:host ::ng-deep .p-drawer {
  background: #FAF5F8!important;
}
