@if (isVisible()) {
  <div class="modal-backdrop" (click)="close()">
    <div class="modal">
      <img
        class="certificate-img"
        src="https://kudel.ru/wa-data/public/shop/products/66/56/5666/images/32381/32381.970.png"
        alt="Подарочный сертификат"
      />
      <button class="animated-btn" href="/">
        <span class="btn-bg"></span>
        <span class="btn-text">
        <span class="text-wrapper" data-hover="Получить подарок">
      <span class="text-slide">Получить подарок</span>
    </span>
  </span>
      </button>
    </div>
  </div>
}
