@if (products().length > 0) {
  <div class="recently-viewed-container">
    <p-carousel
      [value]="products()"
      [numVisible]="5"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="0">
      <ng-template pTemplate="item" let-product>
        <div class="product-item">
          <div class="product-item-content">
            <div class="product-image-wrapper">
              <a [routerLink]="['/', langService.currentLanguage(), 'product', product.id, slugify.transform(product.name)]" class="product-image-link">
                <img [src]="product.imageURL" [alt]="product.name" class="product-image" loading="lazy"/>
              </a>
              @if (product.oldPrice > product.price) {
                <p-tag value="SALE" severity="danger" class="absolute" [style]="{'left.px': 5, 'top.px': 5, 'font-size': '0.7rem'}"/>
              }
              <button
                pButton
                type="button"
                [icon]="isFavorite(product) ? 'pi pi-heart-fill' : 'pi pi-heart'"
                class="p-button-rounded p-button-text p-button-plain wishlist-btn absolute"
                [style]="{'right.px': 0, 'top.px': 0, 'color': isFavorite(product) ? 'red' : 'inherit', 'width': '2rem', 'height': '2rem'}"
                (click)="toggleFavorite(product)">
              </button>
            </div>
            <div class="product-details">
              <h4>{{ product | localizedName }}</h4>
              <h6>{{ product.price }} MDL</h6>
              <button pButton type="button" icon="pi pi-shopping-bag" class="cart-btn"
                      (click)="addToCart(product)"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
}
