// Пробиваемся к стилям PrimeNG
::ng-deep .luxury-dialog {
  .p-dialog-header {
    padding: 2rem 2rem 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    span {
      color: #8B7355 !important;
      letter-spacing: 2px !important;
    }


    .p-dialog-title {
      font-family: 'Cinzel', serif;
      font-size: 1.5rem;
      color: #2D2D2D;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

}

.policy-container {
  .policy-section {
    margin-bottom: 1.5rem;

    p {
      font-size: 0.9rem;
      color: #666;
    }

  }
}

.policy-divider {
  height: 1px;
  background: linear-gradient(90deg, transparent, #d4b896, transparent);
  margin: 1.5rem 0;
}

