<div class="w-full bg-white p-4 rounded-lg shadow-md mt-8 mb-8">
  <div class="flex flex-col md:flex-row md:items-center mb-4 gap-4">
    <!-- Средний рейтинг -->
    <div class="text-center border border-gray-200 p-4 rounded-lg md:mr-4">
      <div class="text-4xl font-bold">4.8</div>
      <div class="text-gray-500 text-sm">{{ 'reviews.ofReviews' | transloco: { count: 125 } }}</div>
      <div class="flex justify-center mt-1">
        <span class="text-yellow-400">★</span>
        <span class="text-yellow-400">★</span>
        <span class="text-yellow-400">★</span>
        <span class="text-yellow-400">★</span>
        <span class="text-yellow-300">★</span>
      </div>
    </div>

    <!-- Список оценок -->
    <div class="flex-1">
      <div class="flex items-center mb-1">
        <span class="w-24 text-sm">{{ 'reviews.excellent' | transloco }}</span>
        <div class="flex-1 h-2 bg-gray-200 rounded mx-2">
          <div class="h-2 bg-black rounded w-full"></div>
        </div>
        <span class="w-6 text-sm text-gray-700 text-right">100</span>
      </div>

      <div class="flex items-center mb-1">
        <span class="w-24 text-sm">{{ 'reviews.good' | transloco }}</span>
        <div class="flex-1 h-2 bg-gray-200 rounded mx-2">
          <div class="h-2 bg-black rounded w-[11%]"></div>
        </div>
        <span class="w-6 text-sm text-gray-700 text-right">11</span>
      </div>

      <div class="flex items-center mb-1">
        <span class="w-24 text-sm">{{ 'reviews.average' | transloco }}</span>
        <div class="flex-1 h-2 bg-gray-200 rounded mx-2">
          <div class="h-2 bg-black rounded w-[24%]"></div>
        </div>
        <span class="w-6 text-sm text-gray-700 text-right">3</span>
      </div>

      <div class="flex items-center mb-1">
        <span class="w-24 text-sm">{{ 'reviews.belowAvg' | transloco }}</span>
        <div class="flex-1 h-2 bg-gray-200 rounded mx-2">
          <div class="h-2 bg-black rounded w-[40%]"></div>
        </div>
        <span class="w-6 text-sm text-gray-700 text-right">8</span>
      </div>

      <div class="flex items-center">
        <span class="w-24 text-sm">{{ 'reviews.poor' | transloco }}</span>
        <div class="flex-1 h-2 bg-gray-200 rounded mx-2">
          <div class="h-2 bg-black rounded w-[5%]"></div>
        </div>
        <span class="w-6 text-sm text-gray-700 text-right">1</span>
      </div>
    </div>
  </div>
</div>
<div class="reviews">
  @if (reviews() && reviews().length) {
    @for ( review of reviews(); track $index) {
      <div class="review">
        <div class="review-header">
          <div class="author-block flex items-start gap-2">
            <img class="avatar" src="https://img.freepik.com/free-photo/portrait-beautiful-redhead-woman_23-2148339229.jpg?semt=ais_hybrid&w=740&q=80" [alt]="review.author" loading="lazy"/>

            <div class="author-info flex flex-col">
              <strong class="author">{{ review.author }}</strong>
              <span class="rating">⭐⭐⭐⭐⭐</span>
            </div>
          </div>

          <span class="date">{{ review.date | date:'d MMMM y'}}</span>
        </div>

        <p>{{ review.comment }}</p>
      </div>
    }
  }

  <div class="new-review">
    <textarea
      rows="3"
      [(ngModel)]="newComment"
      [placeholder]="'reviews.placeholder' | transloco"
    ></textarea>
    <button (click)="addReview()">{{ 'reviews.submit' | transloco }}</button>
  </div>
</div>
