.section-title {
  /*
  background: black;
  */
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
  color: pink;
}

.category-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;



  button {
    padding: 0.75rem 1.5rem;
    background: none;
    border: 1px solid pink;
    color: pink;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &.active {
      background: pink;
      color: black;
    }

    &:hover {
      background: pink;
      color: black;
    }
  }
}

.product-grid-wrapper {
  /*
  background: black;
  */
  position: relative;
  padding-bottom: 4rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
}

.btn-more-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;

  // если хочешь, можно сделать прижатой к низу grid-wrapper:
  // position: absolute;
  // right: 0;
  // bottom: 0;
}
