.section-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
  color: black;
}

.category-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;



  button {
    padding: 0.75rem 1.5rem;
    background: linear-gradient(135deg, #fff5f8, #f3f0ff); // мягкий пастельный фон
    border: 1px dashed rgba(0,0,0,0.1);
    color: #333;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(135deg, #f3f0ff, #fff5f8); // лёгкая смена градиента
      box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    }

    &.active {
      background: linear-gradient(135deg, #fcdce6, #e8d4f8); // активное состояние
      color: #333;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 12px rgba(0,0,0,0.06);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
    }
  }
}

.product-grid-wrapper {
  padding: {
    left: 250px;
    right: 250px;
    bottom: 4rem;
  };
  position: relative;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
}

