<footer class="footer" *transloco="let t">
  <div class="container">
    <div class="footer-brand">
      <div class="logo">Secret Room</div>
      <p class="description">
        {{ t('FooterDescription') }}
      </p>
      <div class="socials">
        <a href="https://www.instagram.com/secretroom.md/"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="Instagram">
          <i class="ri-instagram-line"></i>
        </a>
        <a href="https://www.facebook.com/secretroom.md" target="_blank" aria-label="Facebook"><i class="ri-facebook-line"></i></a>
        <a href="#" aria-label="TikTok"><i class="ri-tiktok-line"></i></a>
      </div>
    </div>

    <div class="footer-links">
      <div class="column">
        <h4>{{ t('About us') }}</h4>
        <a [routerLink]="['/', activeLang(), 'contacts']">{{ t('Stores') }}</a>
        <a (click)="showPolicy()" class="cursor-pointer">{{ t('Return policy') }}</a>
        <a [routerLink]="['/', activeLang(), 'delivery-terms']">{{ t('DeliveryTerms') }}</a>
        <a [routerLink]="['/', activeLang(), 'about-the-secret-room']">{{ t('About us') }}</a>
      </div>

      <div class="column">
        <h4>{{ t('Brands') }}</h4>
        @for (brand of brands(); track brand.brand) {
          <a (click)="goToBrand(brand)" class="cursor-pointer">{{ brand.brandAlias }}</a>
        }
        <a [routerLink]="['/', activeLang(), 'brands']" class="view-all">{{ t('All Brands') }} →</a>
      </div>

      <div class="column">
        <h4>{{ t('Catalog') }}</h4>
        <a [routerLink]="['/', activeLang(), 'catalog', 'new-arrivals']">{{ t('News') }}</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'bestsellers']">{{ t('Best Sellers') }}</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'sales']">{{ t('Sales') }}</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'vs']">{{ t('Lingerie') }}</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <span class="copyright">{{ t('Copyright') }}</span>
      <div class="payment-icons">
        <img src="assets/images/payment/visa.svg" alt="Visa"/>
        <img src="assets/images/payment/master-card.svg" alt="MasterCard"/>
        <img src="assets/images/payment/apple-pay.svg" alt="Apple Pay"/>
        <img src="assets/images/payment/google-gpay.svg" alt="Google Pay"/>
      </div>

      <div class="policies">
        <a [routerLink]="['/', activeLang(), 'delivery-terms']">{{ t('Return policy') }}</a>
      </div>
    </div>
  </div>
</footer>
<return-policy [(open)]="isReturnPolicyVisible" />
