<footer class="footer">
  <div class="container">
    <div class="footer-brand">
      <div class="logo">Secret Room</div>
      <p class="description">
        Magazin online de cosmetice și lenjerie în Moldova. Victoria's Secret, Bath & Body Works și alte branduri originale.
      </p>
      <div class="socials">
        <a href="https://www.instagram.com/secretroom.md/"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="Instagram">
          <i class="ri-instagram-line"></i>
        </a>
        <a href="https://www.facebook.com/secretroom.md" target="_blank" aria-label="Facebook"><i class="ri-facebook-line"></i></a>
        <a href="#" aria-label="TikTok"><i class="ri-tiktok-line"></i></a>
      </div>
    </div>

    <div class="footer-links">
      <div class="column">
        <h4>{{ 'About us' | transloco }}</h4>
        <a [routerLink]="['/', activeLang(), 'contacts']">{{ 'Stores' | transloco }}</a>
        <a (click)="showPolicy()" class="cursor-pointer">{{'Return policy' | transloco}}</a>
        <a [routerLink]="['/', activeLang(), 'delivery-terms']">{{'DeliveryTerms' |transloco}}</a>
        <a [routerLink]="['/', activeLang(), 'about-the-secret-room']">Despre Noi</a>
      </div>
      <div class="column">
        <h4>Catalog</h4>
        <a [routerLink]="['/', activeLang(), 'catalog', 'vs']">Victoria's Secret</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'bb']">Bath & Body Works</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'new-arrivals']">Noutăți Cosmetice</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'sales']">Reduceri Parfumuri</a>
      </div>
      <div class="column">
        <h4>Popular</h4>
        <a [routerLink]="['/', activeLang(), 'catalog', 'bestsellers']">Cele mai vândute</a>
        <a [routerLink]="['/', activeLang(), 'brands']">Toate Brandurile</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'vs']">Lenjerie Intimă</a>
        <a [routerLink]="['/', activeLang(), 'catalog', 'bb']">Lumânări Parfumate</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <span>© 2025 Secret Room. Toate drepturile rezervate.</span>
      <div class="payment-icons">
        <img src="assets/images/payment/visa.svg" alt="Visa"/>
        <img src="assets/images/payment/master-card.svg" alt="MasterCard"/>
        <img src="assets/images/payment/apple-pay.svg" alt="Apple Pay"/>
        <img src="assets/images/payment/google-gpay.svg" alt="Google Pay"/>
      </div>

      <div class="policies">
        <a [routerLink]="['/', activeLang(), 'delivery-terms']">Politica de Confidențialitate</a>
      </div>
    </div>
  </div>
</footer>
<return-policy [(open)]="isReturnPolicyVisible" />
