.footer {
  font-size: 14px;
  padding-top: 48px;
  background-color: #000000;

  .container {
    max-width: 1440px;
    margin: auto;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-between;
  }

  .footer-brand {
    flex: 1 1 300px;

    .logo {
      font-size: 28px;
      font-weight: 600;
      font-family: 'Playfair Display', serif;
      margin-bottom: 12px;
      color: pink;
      text-decoration: none;
    }

    .description {
      margin-bottom: 16px;
      max-width: 300px;
      color: #666;
    }

    .socials {
      display: flex;
      gap: 12px;

      a {
        font-size: 18px;
        color: pink;

        &:hover {
          color: black;
        }
      }
    }
  }

  .footer-links {
    display: flex;
    flex: 2 1 600px;
    gap: 48px;
    flex-wrap: wrap;

    .column {
      min-width: 150px;

      h4 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 12px;
      }

      a {
        display: block;
        margin-bottom: 8px;
        color: pink;
        text-decoration: none;

        &:hover {
          color: black;
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding: 16px 0;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .payment-icons {
        display: flex;
        gap: 12px;

        img {
          height: 24px;
          opacity: 0.9;
          transition: opacity 0.2s ease;

          &:hover {
            opacity: 1;
          }
        }
      }


      span {
        /*
        color: #777;
        */
      }

      .policies {
        display: flex;
        gap: 16px;

        a {
          color: pink;
          text-decoration: none;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    gap: 32px;
  }

  .footer .footer-bottom .container {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}
