.floating-sidebar {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 1000;
  background: black;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.3); /* ярко-розовый */
  overflow: hidden;
  padding: 10px 0;

  .sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    position: relative;
    color: white;
    cursor: pointer;
    transition: background 0.2s;

    i {
      font-size: 1.4rem;
      margin-bottom: 4px;
    }
    &.gift-available i {
      animation: slide-left-right 0.6s ease-in-out infinite alternate;
    }

    span {
      font-size: 0.75rem;
      text-align: center;
    }

    &:hover {
      background: rgba(255, 105, 180, 0.3); /* ярко-розовый */

    }

    &.cart {
      .cart-badge {
        position: absolute;
        top: 5px;
        right: 8px;
        background: red;
        color: white;
        border-radius: 50%;
        font-size: 0.7rem;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
}


@keyframes slide-left-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5px);
  }
}
