.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 280px 20px 20px;
}

@media (max-width: 767px) {
  .image-wrapper {
    margin: 60px 5px 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .image-wrapper {
    margin: 285px 10px 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .image-wrapper {
    margin: 280px 16px 16px;
  }
}

@media (min-width: 1440px) {
  .image-wrapper {
    margin: 280px 20px 20px;
  }
}
