.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
}


.categories-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #2b2b2b;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.categories-list {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 0 16px 8px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.categories-list::-webkit-scrollbar {
  display: none;
}

.category-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

/* ICON */
.category-icon {
  width: 88px;
  height: 88px;
  border-radius: 14px;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.category-icon img {
  max-width: 56px;
  max-height: 56px;
  border-radius: 8px;
}

/* TEXT */
.category-item span {
  font-size: 0.8rem;
  color: #555;
}

/* DESKTOP GRID */
@media (min-width: 768px) {
  .categories-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    overflow: visible;
    scroll-snap-type: none;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
  }

  .category-item {
    flex: unset;
  }

  .category-icon {
    width: 120px;
    height: 120px;
  }

  .category-icon img {
    max-width: 88px;
    max-height: 88px;
  }
}
