.cta {
  border: none!important;
  background: none!important;
  cursor: pointer!important;
}

.cta span {
  padding-bottom: 7px!important;
  letter-spacing: 4px!important;
  font-size: 14px!important;
  padding-right: 15px!important;
  text-transform: uppercase!important;
  color: pink!important;
}

.cta svg {
  transform: translateX(-8px)!important;
  transition: all 0.3s ease!important;
  fill: pink!important;

}

.cta:hover svg {
  transform: translateX(0)!important;
}

.cta:active svg {
  transform: scale(0.9) !important;
}

.hover-underline-animation {
  position: relative!important;
  color: black!important;
  padding-bottom: 20px!important;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: pink;
  /*
  background-color: #000000;
  */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
