.review {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background: #F0F0F0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.author-block {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem; /* отступ между аватаром и именем */
}

.author-info {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.new-review {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.new-review textarea {
  padding: 0.5rem;
  border: 1px solid #F0F0F0;
  border-radius: 0.25rem;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.new-review button {
  width: 200px;
  background-color: black!important;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.author{
  color: black!important;
  letter-spacing: 0.05rem;
}

@media (max-width: 480px) {
  .new-review {
    align-items: center;
  }
  .new-review button {
    margin-top: 8px;
    width: 100%;
  }
  .new-review textarea {
    border: 1px solid black;
  }
  }
