.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  background: linear-gradient(45deg, #ff80ab, #ff4081);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blur 2s linear infinite;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.5s;
  letter-spacing: 0.2em;
  color: white;
}

@keyframes blur {
  0%, 90% {
    filter: blur(0);
  }
  50% {
    filter: blur(2px);
  }
}
