
@use 'styles/variables';
@use 'styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: #000;
  font-family: 'Quicksand', sans-serif;
  color: #ffdbdd;
  margin: 0;
  padding: 0;
  min-height: 100%;
  letter-spacing: 1px;
}
