
@use 'styles/variables';
@use 'styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*body {
  --tw-bg-opacity: 1;
  background-color: rgb(8 8 7 / var(--tw-bg-opacity));
  font-family: 'Quicksand', sans-serif;
  color: #ffdbdd;
  margin: 0;
  padding: 0;
  min-height: 100%;
  letter-spacing: 1px;
}*/
/*body:before {
  filter: url(#grainy);
}
body:after, body:before {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 3023023023020;
  pointer-events: none;
  opacity: 20%;
  color: #aeae9d;
}

:host,html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}*/



body{
    --tw-bg-opacity: 1;
    background-color: rgb(8 8 7 / var(--tw-bg-opacity));
}

body:before {
  filter: url(#grainy);
}

body:after, body:before {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 3023023023020;
  pointer-events: none;
  opacity: 20%;
  color: #aeae9d;
}
