@use 'styles/variables';
@use 'styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:host,html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;


}



body{
  box-sizing: border-box;
  background-color: #FAF5F8;
  padding: 0;
  margin: 0;

}

body:before {
  font-family: OptimaDisplayLight,sans-serif;
}

body:after, body:before {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  opacity: 20%;
  font-family: OptimaDisplayLight,Helvetica,Arial,sans-serif;
}


/*
.fade-in {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeInUp 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
    filter: blur(6px);
  }
  50% {
    opacity: 0.5;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}*/



/*
.fade-in {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeInUp 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
    filter: blur(6px);
  }
  50% {
    opacity: 0.5;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
*/
