<!--
<div class="navigation">

  <input type="checkbox" name="" id="close"/>
  <div class="icons">

    <input type="radio" name="nav" id="n1" checked/>
    <label for="n1" class="icon">
        <span class="material-icons-outlined" (click)="navigateToFragment('')">
         <i class="ri-home-4-fill"></i>
        </span>
    </label>

    <input type="radio" name="nav" id="n2"/>
    <label for="n2" class="icon">
        <span class="material-icons-outlined" (click)="navigateToFragment('activity')">
          <i class="ri-file-search-line"></i>
        </span>
    </label>


    <input type="radio" name="nav" id="n7"/>
    <label for="n7" class="icon">
        <span class="material-icons-outlined" (click)="navigateToFragment('contact-us')">
          <i class="ri-shopping-bag-line"></i>
        </span>
    </label>
  </div>
-->
<div class="bottom-nav">
  <input type="radio" name="nav" id="home" checked />
  <label for="home" class="nav-icon">
    <i class="ri-home-4-fill"></i>
  </label>

  <input type="radio" name="nav" id="search" />
  <label for="search" class="nav-icon">
    <i class="ri-file-search-line"></i>
  </label>

  <input type="radio" name="nav" id="cart" />
  <label for="cart" class="nav-icon">
    <i class="ri-shopping-cart-2-fill"></i>
  </label>

  <input type="radio" name="nav" id="favorite" />
  <label for="favorite" class="nav-icon">
    <i class="ri-heart-fill"></i>
  </label>

  <input type="radio" name="nav" id="profile" />
  <label for="profile" class="nav-icon">
    <i class="ri-user-3-fill"></i>
  </label>
</div>
